.header {
  position: fixed;
  top: 24px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  z-index: 9000;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: #000;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 32px;
  padding: 0 12px;
  border-bottom: 1px solid #fff;
  cursor: grab;
}

.bar:active {
  cursor: grabbing;
}

.title {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-family: monospace;
}

.controls {
  display: flex;
}

.cross {
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.content {
  padding: 12px 24px;
  display: flex;
  justify-content: center;
}

.logoLink {
  display: flex;
}

.logo {
  height: 24px;
  width: auto;
}

.items {
  display: flex;
  color: #fff;
  gap: 40px;
}

@media (max-width: 640px) {
  .header {
    padding: 24px 16px 8px;
  }
}
