.footer {
  padding: 40px 24px;
  text-align: center;
  color: #fff;
  background-color: #000;
  font-size: 0.8rem;
  margin-top: 80px;
}

.nav {
  margin-bottom: 24px;
}

.items {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 1rem;
  white-space: nowrap;
  font-weight: bold;
}

.items a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 640px) {
  .footer {
    display: none;
  }
  .items {
    flex-wrap: wrap;
    gap: 8px 0;
  }
  .item {
    width: 50%;
  }
}
