.items {
  display: flex;
  color: #fff;
  gap: 10px;
  font-weight: bold;
  letter-spacing: 0;
}

.link {
  display: block;
  padding: 8px 16px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  border-radius: 9999px;
}

.link:hover {
  color: var(--color-accent);
}

.active {
  border-color: #fff;
}

.button {
  display: none;
}

@media (max-width: 640px) {
  .nav {
    display: none;
  }

  .nav.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    color: #fff;
    padding: 24px 16px;
    z-index: 100;
  }

  .items {
    flex-direction: column;
    gap: 24px;
    font-size: 1.2rem;
  }

  .button {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .close {
    position: absolute;
    top: 24px;
    right: 16px;
  }
}
