.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  padding: 100px 0;
}

.title {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.1em;
}

.sub {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.sub::before {
  content: "";
  display: block;
  height: 1px;
  width: 20px;
  background-color: var(--color-text-unpainted);
}

.sub::after {
  content: "";
  display: block;
  height: 1px;
  width: 20px;
  background-color: var(--color-text-unpainted);
}

.bgimg {
  position: absolute;
  top: 0;
  right: 0;
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: right;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
