.button {
  display: block;
  padding: 20px 40px;
  border-radius: var(--border-radius);
  width: 300px;
  background: url("/arrow-right.svg") no-repeat right 20px center,
    var(--color-button-primary);
  color: var(--color-text-unpainted);
  transition: all 0.3s ease;
  border: 1px solid var(--color-button-primary);
}

.button:hover {
  background-color: var(--color-accent);
  color: #000;
  border-color: #000;
  background-image: url("/arrow-right-black.svg");
}

.event {
  background-color: #ffb7b2;
  color: #000;
  border-color: #ffb7b2;
  background-image: url("/arrow-right-black.svg");
}

.event:hover {
  background-color: #fff;
  color: #000;
  border-color: #ffb7b2;
  background-image: url("/arrow-right-black.svg");
}

@media (max-width: 640px) {
  .button {
    padding: 16px 24px;
    width: 100%;
  }
}
