.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
}

:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --color-text-main: #000;
  --color-text-sub: #666;
  --color-text-unpainted: #fff;
  --color-text-error: #f33;
  --color-bg-main: #fff;
  --color-bg-sub: #f3f3f3;
  --color-bg-code: #fafafa;
  --color-bg-painted: #000;
  --color-border-dark: #000;
  --color-border: #000;
  --color-border-light: #ccc;
  --color-current: #000;
  --color-button-primary: #000;
  --color-accent: #000;
  --border-radius: 0px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background: #000;
  color: #fff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  color: var(--color-text-main);
  line-height: 1.8;
  letter-spacing: 0.05em;
  background-color: #fff;
}

code {
  font-family: menlo, inconsolata, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
