.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  overflow: hidden;
  padding: 330px 0;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
}

.bgimg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
}

.section {
  margin: 80px 20px;
  padding: 60px 40px;
  border: 1px solid #fff;
}

.sectionTitle {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 40px;
  letter-spacing: 0.1em;
  display: inline-block;
  line-height: 1.2;
}

.sectionDescription {
  margin-bottom: 40px;
  line-height: 2;
}

.linkButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.profile {
  display: flex;
  gap: 40px;
  align-items: center;
}

.profileName {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (max-width: 640px) {
  .top {
    padding: 120px 16px;
  }

  .title {
    font-size: 2rem;
    text-align: left;
  }

  .description {
    text-align: center;
    font-size: 0.9rem;
    text-align: left;
  }

  .bgimg {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 600px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }

  .section {
    margin: 60px 16px;
    padding: 40px 20px;
  }

  .sectionTitle {
    font-size: 1.5rem;
    margin-bottom: 24px;
  }
}
