.window {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 280px;
  background: #000;
  border: 1px solid #888;
  color: #fff;
  z-index: 1000;
  box-shadow: none;
  font-family: var(--font-mono);
  border-radius: 3px;
  overflow: hidden;
}

.header {
  background: #000;
  color: #fff;
  padding: 3px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #888;
}

.title {
  flex-grow: 1;
}

.closeButton {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  /* padding: 16px; */
}
