.window {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 280px;
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  z-index: 1000;
  font-family: var(--font-mono);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.header {
  background: #000;
  color: #fff;
  height: 32px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
  border-bottom: 1px solid #fff;
}

.title {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-family: monospace;
  flex-grow: 1;
}

.controls {
  display: flex;
}

.cross {
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.closeButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  color: #fff;
}

.content {
  /* padding: 16px; */
}
