.list {
  border-bottom: 1px solid #fff;
}
.list:last-child {
  border-bottom: 1px solid #fff;
}

.link {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 24px 20px;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: var(--color-bg-sub);
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.meta {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 640px) {
  .link {
    display: block;
    padding: 16px 20px;
  }

  .title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
  }

  .meta {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
