.form {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.search {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 600px;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
}
